<html>
<head>
	<title> Entry Page </title>
	<style>
        body {
            background-color: #303641;
            font-family: "Raleway", sans-serif;
            text-align: center;
            padding-top: 20px;
            color:white;
        }
        
        pre {
        	border: 2px red outset;
        	margin-left:250px;
        	margin-right:250px;
        	border-radius: 10px;
        }
        
    </style>
</head>

<body>
<h1 > Entry Page </h1>
<pre>
<form id="form1"  action="/result">
<div>
<b>Columns:</b> <input type="number" name="c" step="1" required/> <br/>
<b>Rows:</b> <input type="number" name="r" step="1" required/> <br/>
</div>
<div> 
<b>Possibility of Zero's:</b> <input type="number" name="p" step="0.1" min="0" max="1" required/> <br/>
</div>
<input type="submit">
</form>
</pre>
<form id="form2" action="/fileRead">
<input type="submit" value="Lucky Shot">
</form>
	
	
</body>
</html>